[2018-10-09 23:22] ollelauribostrom opened #3 "Update issue template"
The issue template currently asks about Version and OS under Specifications. This could be updated to something like:

[code]

[2018-10-09 23:25] ollelauribostrom opened #4 "Fix broken link in README.md"
The link to the open issues under the subheading "Who can contribute?" is broken. The correct url should be: https://github.com/ollelauribostrom/rebus/issues

[2018-10-09 23:30] G-ferreira commented on #4
Hi @ollelauribostrom, i will get this issue  assign to me.

[2018-10-10 00:06] Braunson commented on #3
Resolved in PR

[2018-10-10 07:30] #3 closed

[2018-10-10 08:20] ollelauribostrom opened #10 "Add build status badge to README"
It would be a nice feature to add a build status badge to the readme:

[![Build Status](https://travis-ci.org/ollelauribostrom/rebus.svg?branch=master)](https://travis-ci.org/ollelauribostrom/rebus)

Add the following markdown directly below the heading in README.md:
[code]

[2018-10-10 08:21] #4 closed

[2018-10-10 08:44] #10 closed

[2018-10-10 10:17] ollelauribostrom opened #12 "Add coverage badge to README"
Since we are measuring code coverage during the Travis CI build, it would be a nice feature to add a coverage badge to the readme:

[![Coverage Status](https://coveralls.io/repos/github/ollelauribostrom/rebus/badge.svg?branch=master)](https://coveralls.io/github/ollelauribostrom/rebus?branch=master)

Add the following markdown next to the build status badge in README.md (make sure you add a space

[2018-10-10 10:50] ollelauribostrom opened #14 "Lunch contribution: Add a new rebus"
This project needs more fun rebuses to solve! Why not add one on your lunch break?

#### Instructions:
Open the file `src/js/rebuses.js` in your favourite editor and add a new rebus object to the end of the rebuses array. Follow [the guide in the readme](https://github.com/ollelauribostrom/rebus#fork-this-repo) for more detailed instructions on how to get started.

[2018-10-10 13:54] #12 closed

[2018-10-10 14:11] ollelauribostrom opened #19 "Add tests for app.js"
We need to add some tests for app.js (`src/js/app.js`).

Some pointers:
- Create a new test file: `tests/app.spec.js`
- Use the same structure as the other test files
- Refactor app.js to make it testable (move the render call into an exported function)
- Mock the render function
- Verify that the render function is called with the correct arguments (Probably a good idea to use `.toMatchSnapshot()

[2018-10-10 14:15] ollelauribostrom opened #20 "Add code of conduct"
We need to add a code of conduct.

Steps:
- Create a file called `CODE_OF_CONDUCT.md` in the root of the project
- Add the following markdown `This project adheres to the [JS Foundation Code of Conduct](https://js.foundation/community/code-of-conduct).` in `CODE_OF_CONDUCT.md`

[2018-10-10 14:41] soulspark666 commented on #20
I'll look into it!

[2018-10-10 18:56] ollelauribostrom commented on #19
@themostcolm Awesome, let me know if you need any pointers!

[2018-10-10 19:12] #20 closed

[2018-10-10 19:34] ollelauribostrom opened #30 "Add open source badge to README"
To show our support for open source software, it would be a nice feature to add an open source badge to the readme:

[![Open Source Love](https://badges.frapsoft.com/os/v1/open-source.svg?v=103)](https://github.com/ellerbrock/open-source-badges/)

Add the following markdown next to the coverage badge in README.md (make sure you add a space between them)
[code]

[2018-10-10 19:39] ollelauribostrom opened #31 "Add gitter badge to README"
To highlight that you can join our gitter chat, it would be a nice feature to add a gitter badge to the readme:

[![Gitter](https://img.shields.io/gitter/room/nwjs/nw.js.svg)](https://gitter.im/rebus-contributors/Lobby)

Add the following markdown next to the other badges in README.md (make sure you add a space between them)
[code]

[2018-10-10 19:51] ollelauribostrom opened #34 "Add a new rebus"
This project needs more fun rebuses to solve!

#### Instructions:
Open the file `src/js/rebuses.js` in your favourite editor (preferable VSCode 😉) and add a new rebus object to the end of the rebuses array. Follow [the guide in the readme](https://github.com/ollelauribostrom/rebus#fork-this-repo) for more detailed instructions on how to get started.

[2018-10-10 19:52] #31 closed

[2018-10-10 19:53] #30 closed

[2018-10-10 20:30] ollelauribostrom opened #35 "Remove invalid CSS property"
The word class currently contains `justify-items: auto;`. This should be removed since it's an invalid property value.

Steps:
- Open `src/css/main.css`
- Find the word class
- Remove the line `justify-items: auto;`

[2018-10-10 20:35] Ilyeo commented on #35
@ollelauribostrom can I take this one?

[2018-10-10 20:44] ollelauribostrom commented on #35
@Ilyeo Sure, go ahead! 🙂

[2018-10-10 20:55] Ilyeo commented on #35
@ollelauribostrom done buddy I just opened #37, let know what do you think

[2018-10-11 08:13] ollelauribostrom commented on #35
@Ilyeo Thanks again 👍

[2018-10-11 08:13] #35 closed

[2018-10-11 12:21] #14 closed

[2018-10-11 14:04] ollelauribostrom opened #48 "Improve the README"
The idea is that the README will provide a step-by-step guide on how to make your first contribution. The list below contains a bunch of ideas on how to improve the README. If you wish to work on something, comment below and submit one PR per item.

- [x] Add a section about "Installing the dependencies" (Before "Make your changes")
- [x] Add a section about "Running the game locally" (Changes ->

[2018-10-11 14:07] ollelauribostrom opened #49 "Add video tutorials on how to get started"
To further improve the step-by-step guide on how to get started, it would be a nice feature to add some video tutorials that takes the developer through every step.

[2018-10-11 14:15] ollelauribostrom opened #50 "Minor update to the PR template"
We can update the PR template to avoid some confusion for people following the step-by-step guide in the README.

Remove the following from `.github/PULL_REQUEST_TEMPLATE.md`
[code]

[2018-10-12 10:36] #50 closed

[2018-10-12 11:33] ollelauribostrom opened #60 "Log errors to Sentry"
To help us detect and fix any in-production errors, we should think about using Sentry. Let's add `raven-js` as a dependency and create a logger class that log errors to Sentry (Only log in-production errors). Might also be a good idea to wrap the `render` function in a `try-catch` block.

[2018-10-12 13:27] ollelauribostrom opened #61 "Add more learning resources"
We need to add more learning resources / further reading material 🙂

If you know of any good tutorial, guide or project that is suitable for new open-source contributors - add it to the "Further Reading" section of the README.

[2018-10-12 15:06] ollelauribostrom opened #65 "Fix browser compatibility issues"
The app currently crashes when loaded in Safari and on older versions of Chrome. To fix these compatibility issues, we have to refactor our babel configuration (in other words, not just target node 10).

[2018-10-12 15:14] ollelauribostrom opened #67 "General UI improvements"
If you can think of any improvement of the user interface - your contribution is very much welcome.

The game is live at: https://ollelauribostrom.github.io/rebus/

Some ideas:
- How to better handle long words?
- How to improve the animations?
- How to improve the mobile UI?

[2018-10-12 15:33] #19 closed

[2018-10-12 15:42] ollelauribostrom opened #69 "Toggle between rebuses using the keyboard"
To enhance the user experience, we could add the ability to toggle between rebuses using the left/right arrow keys.

**Steps**:
1. Create a new function called `registerListeners` in `app.js`
2. In the `registerListeners` function, add an event listener that calls `actions.next()` or `actions.prev()` if the user presses the left/right arrow key
3. Call the `registerListeners` function after the `i

[2018-10-12 16:02] theonlymikeever commented on #69
I'd like to take a crack at this one, if that's okay

[2018-10-12 16:04] ollelauribostrom commented on #69
@theonlymikeever Go ahead, let me know if you need any pointers 🙂

[2018-10-12 16:52] ollelauribostrom commented on #67
@zangiboy Yes, that is a good idea. I think that's whats being worked on in #41

[2018-10-12 17:57] theonlymikeever commented on #69
@ollelauribostrom Awesome! I've gone ahead and submitted a PR. Hopefully this is the solution you were aiming for.

Thoughts for the future -  We could break out listeners into its own file, especially as the app expands. `registerListeners` could take an `event` and `callbackFnc` and do the attachment to the document. After `init()` you could potentially call `registerListeners` through a list of

[2018-10-12 18:04] wallchuck commented on #65
@ollelauribostrom I'm not sure I understood your intensions correctly, but are you saying, that these issues can be solved by just switching Babel's target to, say, `"> 1%, not dead"`?

[2018-10-12 20:34] gson88 opened #72 "Go to next rebus when pressing enter"
It would a better user experience (I think) if user is presented with the next rebus when it presses enter (in any of the input fields)

[2018-10-12 20:42] ollelauribostrom commented on #72
@gson88 Do you mean if the user correctly answers a rebus?

[2018-10-12 20:48] ollelauribostrom commented on #69
Nice future thoughts and thanks for your PR. I'll add some tests for the `registerListeners` function as well 🙂

[2018-10-12 20:49] #69 closed

[2018-10-12 20:52] gson88 commented on #72
@ollelauribostrom No, since it's always possible for the user to go to the next rebus by clicking the right arrow element, I think it would make sense for the user to always be able to press enter and go to the next rebus. Like a shortcut to clicking the arrow

[2018-10-12 21:00] gson88 commented on #72
@ollelauribostrom I noticed now that right/left arrow on the keyboard works to go to the next/prev rebus, didn't know that before sorry. Still think it would make sense to go to next if enter is pressed

[2018-10-12 21:30] #60 closed

[2018-10-13 04:38] wenzelmk commented on #67
Here are some ideas:
1. Add a counter for how many the player has gotten correct
2. Add animation for when you've gotten the answer wrong
3. Add hints!

[2018-10-13 08:01] #65 closed

[2018-10-13 09:53] ollelauribostrom commented on #72
@gson88 I'm thinking that pressing enter (when in a form/input) usually means submitting the form. Maybe we could use the space bar as a shortcut instead?

So:
`ArrowRight`: Next rebus
`ArrowLeft`: Previous rebus
`Space`: Skip to next rebus
`Enter`: Check the answer

[2018-10-13 10:44] ollelauribostrom commented on #67
@wenzelmk Great ideas!

1. What do you think about a progress bar to show how many rebuses the player has answered? Did some experiments with the `<progress>` element.
![Uploading Skärmavbild 2018-10-13 kl. 12.30.27.png…]()

2. Nice addition. We would probably don't want to run this animation each time the user enters a character - but when the user presses enter (discussed in #72) or when the us

[2018-10-13 23:37] gson88 commented on #72
@ollelauribostrom I changed to space in the pull request, merge if you like :) If you decide to merge, can you please add the hacktoberfest label to the issue first?
Enter to check the answer seems unnecessary since it checks the answer each time you write a character. In that case I think it should show some shaking animation to show that it is the wrong answer.
But it's your project and I'm real

[2018-10-14 00:06] gson88 opened #82 "Add jasmine to eslint env"
Add jasmine env in eslint rules to prevent eslint failures in tests

[code]

[2018-10-14 19:38] danoblinux commented on #67
@ollelauribostrom Hi there, I would like to work on some of those improvements.

[2018-10-23 09:34] #82 closed

[2018-10-23 14:14] ollelauribostrom opened #93 "Save game state in localstorage"
To improve the playing experience it would be a good idea to save the game state in localStorage. This means saving which rebuses the user has already answered until the next time the user decides to play the game.

Pointers:
- When a user correctly answers a rebus, save the rebus id to localStorage ([starting point](https://github.com/ollelauribostrom/rebus/blob/cc81674c9eeaa00cd12410817933a1b726

[2018-10-23 14:32] ollelauribostrom opened #94 "Get specific rebus from URL query string"
If you've added a rebus and you want to challenge a friend to solve it - it would be a nice feature to make it possible to share a specific rebus. In other words, we need to make it possible to start the game at a specific rebus.

Pointers:
- When getting the rebuses [here](https://github.com/ollelauribostrom/rebus/blob/cc81674c9eeaa00cd12410817933a1b726b1f301/src/js/rebuses.js#L220) use [URLSearc

[2018-10-23 14:45] tkilgour commented on #94
I'd love to take a crack at this! This looks like a great project.

[2018-10-23 14:58] ollelauribostrom opened #96 "How to handle missing emojis?"
Some of the rebuses use emojis that are not supported by every system. Does anyone have an idea on how we could solve his?

My current idea:
1. Somehow check if an emoji is supported by the users browser/system
2. If not, replace that emoji with a [twemoji](https://github.com/twitter/twemoji)

[2018-10-23 15:18] ollelauribostrom opened #97 "Integrate Travis CI with Gitter"
Lets integrate Travis CI with gitter. Add the following to the `notifications` part in [.travis.yml](https://github.com/ollelauribostrom/rebus/blob/9a00c3cccd2f8f46bec99ab3283e2429a5391962/.travis.yml#L11)

[code]

[2018-10-23 15:34] V1shvesh commented on #97
Hey @ollelauribostrom!!

[2018-10-23 15:39] lgruelas commented on #93
I'm on it.

[2018-10-23 15:45] ollelauribostrom commented on #97
@V1shvesh Thanks but this seems to have been implemented in #99. If you feel like it, add add a new rebus to the project instead 🙂

[2018-10-23 15:48] #97 closed

[2018-10-23 16:59] #94 closed

[2018-10-23 18:57] ollelauribostrom opened #103 "[Easy] Add a new rebus"
This project needs more fun rebuses to solve!

#### Instructions:
Open the file `src/js/rebuses.js` in your favourite editor and add a new rebus object to the end of the rebuses array. Follow [the guide in the readme](https://github.com/ollelauribostrom/rebus#fork-this-repo) for more detailed instructions on how to get started.

[2018-10-23 19:05] hi15 commented on #103
I will work on it =)

[2018-10-23 19:59] wenzelmkay commented on #67
Hi @ollelauribostrom yes! I am sorry for this late reply. I would like to work on some of these updates to the UI -- what would you like for me to work on? I would be happy to tackle any of those improvements!

[2018-10-23 22:10] ollelauribostrom commented on #67
@wenzelmkay and @danoblinux Feel free to work on any of these improvements, just leave a comment below about what you're working on so you don't end up working on the same thing 🙂

[2018-10-24 10:52] #93 closed

[2018-10-25 02:37] isaniomoraes opened #119 "Add autofocus on first char input"
Would be great if the app autofocused the first char input so users can start typing right away, and fires the autofocus feature on next/prev actions.

Also this can improve the user experience playing only with the keyboard.

![rebus-input-autofocus-suggestion](https://user-images.githubusercontent.com/3224086/47472564-8a258f00-d7e5-11e8-821e-dd13cb058cf5.gif)

[2018-10-28 21:48] ollelauribostrom commented on #119
@isaniomoraes Yes! This would be a nice addition. Are you up for a PR?

[2018-10-28 21:48] #103 closed

[2018-10-28 21:53] ollelauribostrom opened #121 "Add a new rebus"
This project needs more fun rebuses to solve! 🎉

The game is live at: https://ollelauribostrom.github.io/rebus/

#### Instructions:
Open the file `src/js/rebuses.js` in your favourite editor and add a new rebus object to the end of the rebuses array. Follow [the guide in the readme](https://github.com/ollelauribostrom/rebus#fork-this-repo) for more detailed instructions on how to get started.

[2018-10-29 06:00] thedavidzhao commented on #119
@ollelauribostrom may I take this if @isaniomoraes hasn't done this already?

[2018-10-29 13:21] isaniomoraes commented on #119
@ollelauribostrom nice, thanks!

@thedavidzhao please, go ahead :)
I didn't have a chance to work on this, but I can help testing or something else if you need.

[2018-11-02 10:46] #119 closed

[2018-11-02 10:51] #61 closed

[2018-11-02 10:51] #48 closed

[2018-11-02 15:56] ollelauribostrom opened #143 "Split components in to separate files"
All components are currently located in `src/js/components.js`. To improve readability/maintainability we could extract each component in to its own file.

Steps:
1. Create a new directory called`src/components`
2. Open `src/js/components.js`
3. Extract each component in to its own file inside the new directory `src/components`

[2018-11-02 16:00] ollelauribostrom opened #144 "Add tests that check for duplicated rebuses"
We currently have some duplicated rebuses. We should probably remove these and add some tests in [rebus.spec.js](https://github.com/ollelauribostrom/rebus/blob/master/tests/rebus.spec.js) to make sure that no duplications are added.

Steps:
1. Open `tests/rebus.spec.js`
2. Add a test case that makes sure that there are no duplicated rebuses
3. Remove any existing duplications

[2018-11-02 16:02] ollelauribostrom opened #145 "Add section about how to resolve merge conflicts to README"
To improve the README, we should include a section about how to resolve merge conflicts.

[2018-11-02 16:26] ollelauribostrom opened #146 "Disable input if rebus is already answered"
It would probably make sense to disable the input fields if the rebus has already been answered.

Steps:
1. Open `src/js/components.js`
2. Find the Char component
3. Add the disabled attribute to the input field if the rebus has been answered

[2018-11-02 16:32] ollelauribostrom opened #147 "Don't autofocus first char input after a rebus has been answered"
## Expected Behavior
- First char input should not gain focus after a rebus has been answered

## Actual Behavior
- The first char input is focused after a rebus has been answered

## Steps to Reproduce the Problem
1. Answer a rebus
2. The first char input gains focus

[2018-11-02 16:40] ollelauribostrom opened #148 "Make it possible to share a rebus"
We can now load a specific rebus from the url, like https://ollelauribostrom.github.io/rebus/?rebus=6

Lets utilize this to make users able to share a specific rebus with a friend. We can do this in a few different ways:

1. Update the url to include the query string each time the user steps to a new rebus

    OR

2. Add a simple "Copy rebus url" button/link somewhere

[2018-11-02 18:53] ollelauribostrom opened #149 "Add first-timers-only badge to README"
Lets add a `first-timers-only` badge to the README to advertise that those issues exist:

[![first-timers-only](https://img.shields.io/badge/first--timers--only-friendly-blue.svg?style=flat-square)](https://www.firsttimersonly.com/)

Add the following markdown next to the other badges in README.md (make sure you add a space between them)
`[![first-timers-only](https://img.shields.io/badge/first--t

[2018-11-02 22:53] arthurhess commented on #149
I would like to take this.

[2018-11-03 08:19] #149 closed

[2018-11-03 10:25] ollelauribostrom opened #152 "Mobile UI improvements"
The game is currently _playable_ on mobile devices but there is a lot of room for improvements when it comes to the UI. Long words causing overflow makes some elements not visible, and the autofocus is a bit annoying.

Steps:
1. Try the game on your mobile device: https://ollelauribostrom.github.io/rebus/
2. Look at posible improvements
3. Implement improvements in `src/css/main.css`

[2018-11-03 10:58] ollelauribostrom opened #153 "Add hints"
As proposed by @wenzelmkay in #67, we could add some kind of hint functionality to the game. This could work something like this:

1. The user enters an incorrect answer n (maybe two/three) times
2. If the rebus has a hint property, display the hint below the input fields

For example, if the rebus data looks like:
[code]
The text `You´re solving one right now` would be displayed after the user ha

[2018-11-03 11:07] ollelauribostrom opened #154 "Add progress bar to show how many rebuses the player has answered"
As discussed in #67, we could add a progress bar at the bottom of the window to display how many rebuses the player has answered. This could look something like:

<img width="1273" alt="46904538-cef81e80-cee5-11e8-91bb-6b5d94ab34c4" src="https://user-images.githubusercontent.com/16004130/47951403-8c63b800-df60-11e8-997e-5ff6d2c1decd.png">

Steps:
1. Add a new component (maybe called ProgressBar or

[2018-11-03 11:34] ollelauribostrom opened #155 "Improve the handling of long words"
When a rebus contains a "long" word, like for instance [this one](https://ollelauribostrom.github.io/rebus/?rebus=6) the input fields will overflow (depending on your screen size ofc). This does not look too pretty in my opinion,

![skarmavbild 2018-11-03 kl 12 33 08 2](https://user-images.githubusercontent.com/16004130/47951704-b5864780-df64-11e8-9de4-0f0250f478f1.png)

Any ideas on how we could

[2018-11-03 15:06] mrtmrtmlck commented on #154
I'd like to work on this issue as my first issue.

[2018-11-03 20:09] ollelauribostrom commented on #154
@mrtmrtmlck Nice, go ahead! Let me know if you need any pointers along the way 🙂

[2018-11-04 15:47] mrtmrtmlck commented on #154
@ollelauribostrom Thank you! Progress Bar will display like below. Is it OK ?

![image](https://user-images.githubusercontent.com/8123871/47966303-e9936280-e061-11e8-80fd-1acce933b817.png)

[2018-11-05 07:55] mrtmrtmlck commented on #147
@ollelauribostrom I'd like to work on this issue. Would it be better displaying the next rebus if the current rebus has been answered correctly ?

[2018-11-05 08:00] gizemkeser commented on #153
Hello @ollelauribostrom I would like to work on this issue.

[2018-11-05 08:41] ollelauribostrom commented on #144
@devmaximilian Go for it, let me know if you need any pointers along the way 🙂

[2018-11-05 08:43] ollelauribostrom commented on #147
@mrtmrtmlck Awesome! I think it would be best to just focus the "next" button instead 🙂

[2018-11-05 08:43] ollelauribostrom commented on #153
@gizemkeser Nice, go for it! Let me know if you need any pointers along the way 🙂

[2018-11-05 08:57] mrtmrtmlck commented on #147
@ollelauribostrom Thank you :) I'll do it like your suggestion 👍

[2018-11-05 12:11] mrtmrtmlck opened #163 "Answered rebuses in local storage shouldn't have duplicated rebuse id"
## Expected Behavior

Answered rebuses array in local storage should have unique elements

## Actual Behavior

Answered rebuses array in local storage may have duplicated elements

## Steps to Reproduce the Problem

1. Answer a rebus then check answered rebuses in local storage.
2. Come back the answered rebus then remove a char and re-enter it again.
3. Check answered rebuses in local storage aga

[2018-11-07 09:17] #144 closed

[2018-11-07 09:30] #154 closed

[2018-11-07 09:33] #146 closed

[2018-11-07 09:51] ollelauribostrom commented on #163
I think this should be fixed by #146 right?

[2018-11-07 10:32] mrtmrtmlck commented on #163
@ollelauribostrom Yes, you are right! I didn't notice #146 when I opened this one. Now, I'm closing this issue 😊

[2018-11-07 10:32] #163 closed

[2018-11-08 09:53] #147 closed

[2018-11-08 09:54] #148 closed

[2018-11-08 21:33] ollelauribostrom commented on #155
@vanwykjd Go for it! What are your thoughts on how to improve this? 🙂

[2018-11-08 21:46] andyn95 commented on #155
What file would this relate to? Would you like me to contribute to this issue too?

[2018-11-08 21:49] andyn95 commented on #153
Is this issue still open? May I contribute to it? Which file would I have to contribute to in order to work on this?

[2018-11-08 23:28] vanwykjd commented on #155
@ollelauribostrom I was thinking it would help to have the column widths within the word component be more responsive to the length of the word/words? ...This is my first time attempting to contribute to an OSS, so any pointers will be greatly appreciated!

[2018-11-09 07:46] ollelauribostrom commented on #153
@andyn95 This already is being worked on in #168 🙂

[2018-11-11 17:10] rockstarcreativestudio commented on #152
I'd like to work on this. I've forked the project and will check it out on mobile.

[2018-11-11 18:10] ollelauribostrom commented on #152
@rockstarcreativestudio Awesome, go ahead! 🙂

[2018-11-11 22:31] ollelauribostrom opened #172 "Rebus links 404"
#170 made it possible to share a specific rebus based on the url (the url query string is updated each time the user switches to a new rebus). Everything works fine locally but when the site is deployed at https://ollelauribostrom.github.io/rebus/ the url is updated to point to https://ollelauribostrom.github.io/?rebus=2 etc. This will result in a 404 since the /rebus is missing.

Steps:
- Open th

[2018-11-12 16:53] datori commented on #172
Oops, sorry about that.

I'll submit a PR later today 👍

[2018-11-13 11:38] #172 closed

[2018-11-15 04:08] kymiddleton commented on #145
Added section in Readme file to outline steps to resolve merge conflicts.

[2018-11-15 21:01] andyn95 commented on #49
Can i contribute to this?

[2018-11-15 21:01] andyn95 commented on #67
What would you like me to do for this issue?

[2018-11-15 21:04] andyn95 commented on #96
Can I contribute to this issue?

[2018-11-15 21:04] andyn95 commented on #121
I would like to add more to this rebus game

[2018-11-15 21:05] andyn95 commented on #145
What should I do to fix this? Any files I should look at?

[2018-11-15 21:06] andyn95 commented on #152
What should I do to fix this issue?

[2018-11-15 21:18] rockstarcreativestudio commented on #152
@ollelauribostrom  Is the errors on the tests fixed? I am going to go ahead and push changes and do a pull request.

[2018-11-16 00:00] kymiddleton commented on #145
@andyn95 I updated the Readme file yesterday and made a pull request to address the issue.  It should be resolved unless the changes are rejected.

[2018-11-18 09:39] #153 closed

[2018-11-18 11:00] ollelauribostrom commented on #152
@rockstarcreativestudio These are [lint errors caused by the different linebreak styles](https://eslint.org/docs/rules/linebreak-style) on unix/windows systems. If you are using vscode and you are on Windows I would recommend you to click the option at the bottom-right of the window and set it to LF from CRLF. You can also run the lint command with the `--fix` option to fix all of these errors`: `

[2018-11-18 11:01] ollelauribostrom commented on #121
@andyn95 Sure, go ahead and follow the step-by-step guide in the README to add a new rebus 🙂

[2018-11-18 11:02] ollelauribostrom commented on #96
@andyn95 Sure, do you have any ideas on how to solve this? 🙂

[2018-11-18 11:03] ollelauribostrom commented on #72
@andyn95 This is already being worked on in #81

[2018-11-18 11:05] ollelauribostrom commented on #67
@andyn95 All of the ideas on how to improve the UI that has been discussed in this issue has already been adressed. If you have any further ideas, feel free to open an issue or submit a pull request with your changes 🙂

[2018-11-18 11:05] #67 closed

[2018-11-18 12:53] ollelauribostrom opened #177 "Rename component files using PascalCase"
We should probably rename the component files using PascalCase to reflect the component names.

- `app.js` -> `App.js`
- `change-button.js`-> `ChangeButton.js`
- `char.js` -> `Char.js`
- `github-corner.js	` -> `GithubCorner.js`
- `hint.js` -> `Hint.js`
- `logo.js` -> `Logo.js`
- `progress-bar.js`-> `ProgressBar.js`
- `rebus.js`-> `Rebus.js`
- `word.js` -> `Word.js`

[2018-11-18 13:02] ollelauribostrom opened #178 "Progress bar appearance in Firefox"
The Progress bar component does not render correctly in Firefox. It currently looks like this (missing the correct background color):

<img width="1276" alt="skarmavbild 2018-11-18 kl 13 58 44" src="https://user-images.githubusercontent.com/16004130/48672752-37b46580-eb3a-11e8-8ed2-73ee6542ee25.png">

Steps to fix this:
- Open `src/css/main.css`
- Add `background: #9c0629;` to the `.progress-bar`

[2018-11-18 13:22] ollelauribostrom opened #179 "Flashing scrollbar after a rebus has been answered correctly"
When a rebus has been answered correctly and the confetti animation finishes - the scrollbar flashes.

## Steps to Reproduce the Problem

1. Answer a rebus correctly.
2. Wait until the confetti animation finishes
3. Watch the scrollbar flash for a second

[2018-11-18 14:14] ollelauribostrom opened #180 "Add hints to existing rebuses"
As of #168 we can now display hints when a user has entered an incorrect answer several times. This is awesome, but almost every rebus is currently lacking the hint property so lets go ahead and add some hints 🙂

This issue is very beginner friendly, just follow these steps:
- Open the file `src/js/rebuses.js`
- Have a look at the rebuses and see if you can think of any good hints
- Add your hint

[2018-11-18 15:13] #178 closed

[2018-11-19 06:14] CodeWithOz commented on #180
Not sure this is the appropriate channel (your twitter DMs are not open 😞) but I just want to say **thank you 🎉** for this repo. Getting into open source can be so intimidating but this repo really lowers the bar. I am now adding my own Rebus and will try to work on this particular issue. 🤓 👨‍💻

[2018-11-20 13:34] CodeWithOz commented on #180
Thanks! I have submitted the PR. 🎉 🙌
I'm working on the hints and I'm just wondering where I should add my commits. Currently, I have the changes in a branch that was created from my `uche-new-rebus` branch used in the PR. Is that okay? Or would you prefer if I create a new branch from master and add them there?

[2018-11-20 13:35] CodeWithOz commented on #180
Also, I have hints for some but not others. Do you want hints for all of them or just for as many as possible?

[2018-11-20 16:03] ollelauribostrom commented on #180
@CodeWithOz I would prefer it if you created a new branch from master with your new hints. You can just add as many hints as you can think of 🙂

[2018-11-21 03:13] vanwykjd commented on #179
After looking into the issue, I found that the content of the `div` containing the confetti animation would sometimes grow larger than the browser window; causing the scrollbar to appear/disappear during the time of the animation.

I've created PR #186, which includes the adjustment of setting the `overflow` property value to `hidden` of the `.app` class to help address the issue.

[2018-11-21 16:16] ollelauribostrom commented on #179
@vanwykjd Nice catch, thanks for fixing this 🙂

[2018-11-21 16:16] #179 closed

[2018-11-23 05:30] CodeWithOz commented on #96
@ollelauribostrom I'd like to implement your suggested idea of detecting lack of support and replacing with Twemoji. Do you think it should be a check for emoji support in general or for specific emojis that may not be present in a particular environment? I did a little research and Modernizr can be used to check for emoji support in the browser, although it's not a test of support for specific em

[2018-11-24 01:07] MarcoBomfim commented on #177
On it

[2018-11-24 21:19] MarcoBomfim commented on #177
@ollelauribostrom, @vanwykjd,

Just made the PR. Let me know if there is any other changes required.

[2018-11-26 12:01] CodeWithOz commented on #96
I am working on this but have so far failed to inject Modernizr into the app. I am using the [modernizr-webpack-plugin](https://www.npmjs.com/package/modernizr-webpack-plugin) but I can't figure out how to inject the generated `modernizer-bundle.js` file into the HTML file. I have also tried generating the JS file using the Modernizr CLI tool, placing the file in the `src` folder and adding it to

[2018-11-26 13:02] CodeWithOz commented on #96
@ollelauribostrom what's an ideal test for this feature? I am thinking of placing the functionality in a module and exposing a method that accepts an emoji string or DOM element, converts it to the appropriate `<img>` element using twemoji, and returns the `<img>` element. This method can then be tested to ensure it works as expected. My only concern is that this method will basically just wrap tw

[2018-11-26 22:07] ollelauribostrom commented on #96
@CodeWithOz Since most devices now a days have some kind of emoji support we would probably want to detect the lack of specific emojis (like for instance I'm using OSX 10.11.1 and can't see all emojis used in this project). We probably don't need to pull in the entire Modernizr library, instead we could try working off [this](https://github.com/Modernizr/Modernizr/blob/347ddb078116cee91b25b6e897e2

[2018-11-28 08:39] #145 closed

[2018-11-28 08:47] #177 closed

[2018-12-03 21:55] #155 closed

[2019-01-10 22:12] wanderdust opened #207 "Automatically change focus to next word when rebus has multiple lines"
### Expected Behavior
When typing a rebus solution the focus should jump to the next word automatically (only if rebus has multiple words) after finishing typing each word.

### Actual Behavior
When the rebus has multiple words it doesn't change the focus to the next word.

[2019-01-10 22:14] wanderdust commented on #207
Hey! I've taken the liberty of adding a fix for this. Let me know what you think.

[2019-03-02 00:32] AlvinValdez opened #220 "Add percent to progress bar"
## Expected Behavior
Percent to accompany the progress bar for rebuses completed
...

## Actual Behavior
No percent bar
...

Just thought it would be cool to add a percent to accompany the progress bar

[2019-03-05 07:28] Pihu1998 commented on #180
Hi! Can i be assigned this issue?

[2019-03-11 12:55] #207 closed

[2019-03-11 12:56] ollelauribostrom commented on #72
Closing this, feel free to reopen 🙂

[2019-03-11 12:56] #72 closed

[2019-03-12 05:15] Nilkamal commented on #180
Does this issue still open to work on ?

[2019-03-12 05:18] Nilkamal opened #226 "Move to next bus once correct answer is provided"
## Expected Behavior
It should move to next bus once right answer is provided
...

## Actual Behavior
It is displaying same bus not going to next bus
...

## Steps to Reproduce the Problem

1. Step 1..
2. Step 2..
3. Step 3..

## Specifications

- Browser:

[2019-03-12 05:18] Nilkamal commented on #226
I am working on this issue

[2019-03-12 08:03] ollelauribostrom commented on #180
@Pihu1998 @Nilkamal Most rebuses now have hints, but feel free to add any missing ones/make them better 🙂

[2019-03-30 04:18] AlvinValdez opened #233 "Add a search bar to get to a certain rebus faster"
## Expected Behavior
Add a search bar
...

## Actual Behavior
No search bar
...

Currently there is no way to get to a certain rebus without changing it in the url or rapidly going through all the rebuses. Adding a search bar would fix this.

[2019-04-04 03:04] jnguyen0220 commented on #220
I will add this to the application

[2019-04-23 00:47] yakovleva-tanya commented on #220
I would like to add this feature

[2019-05-09 09:21] NickolasBenakis commented on #121
Hello !!
I would like to add more to rebus, its my first contribution to open source
 :D

[2019-05-09 19:22] almoghaimo commented on #233
Hi i'll be happy to contribute this one

[2019-05-09 22:23] LuisARodr commented on #96
Did a little [reasearch](https://thekevinscott.com/emojis-in-javascript/) and found this piece of code:
[code]
This can be used to convert emojis into their UTF16 counter part.
The [emoji tree package](https://www.npmjs.com/package/emoji-tree) could be used to find emojis on a string.
Implementing this could be a good way to start implementing how to handle missing emojis with the method that @oll

[2019-05-10 09:57] NickolasBenakis commented on #121
#248 Hello !!
I would like to add more to rebus, its my first contribution to open source

[2019-06-08 16:17] SilentNickX commented on #180
This issue seems entirely resolved from what I can tell

[2019-06-08 16:18] SilentNickX commented on #220
Seems this issue is also resolved?

[2019-06-09 12:17] anthony-steele commented on #233
Hi, I added the searchbar in the same style as the other components in the game are created. A seperate class for the SearchBar and then render it from within app.js.
Failed one of the automated tests but that is easily fixed by running npm test -- -u to update the tests

[2019-07-12 18:03] dr0id007 opened #259 "Add random button"
Add random button so that we can have different rebus every time which interests the end user.

[2019-07-15 12:31] matronator opened #260 "Words with non-letter characters buggy"
Words that contain non-letter characters like space or an apostrophe are inconvenient to answer, because the letter-boxes accept only A-Z. To keep the character inputed you have to manually click on another letter box, otherwise it'll get overwritten with the first alphabetical letter you press on the keyboard.

## Expected Behavior

1. Press space/apostrophe/dash.
2. The pressed character will be

[2019-07-30 19:57] cbaron3 opened #263 "Backspace for Multi-Word Rebus should delete all characters"
## Expected Behavior

When typing a solution to a rebus with multiple words, holding the backspace key down should delete all letters until the start of the first word

## Actual Behavior

As an example, see https://ollelauribostrom.github.io/rebus/?rebus=15

When solving this rebus, if you hold down backspace while entering in characters in the second row (second word), the cursor stops at the st

[2019-07-30 20:01] cbaron3 commented on #263
If this is fix-worthy, I would like to work on this issue.

[2019-08-27 15:36] anujgarg204 commented on #263
I did it except I am still not good at writing a test case. See if you can help me with that a bit.

[2019-08-30 14:21] cbaron3 commented on #263
Awesome

For the test case, maybe take a look at the following existing tests cases here:
https://github.com/ollelauribostrom/rebus/blob/master/tests/components.spec.js#L101-124

You could create a similar test with the input `word: ` being something that contains more than one word for example `word: my test`

You could focus on the last index of `inputs` and create enough backspace events such t

[2019-08-31 14:00] jatin33 commented on #233
Hi , I will be happy to contribute to this issue.

[2019-08-31 14:02] jatin33 commented on #220
Is this issue resolved?
If not I can contribute to this feature

[2019-08-31 14:06] jnguyen0220 commented on #220
Sure thing.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Jatin Panjwani <notifications@github.com>
Sent: Saturday, August 31, 2019 9:02:21 AM
To: ollelauribostrom/rebus <rebus@noreply.github.com>
Cc: JonnyN <jonny_nguyen@outlook.com>; Comment <comment@noreply.github.com>
Subject: Re: [ollelauribostrom/rebus] Add percent to progress bar (#220)

Is this iss

[2019-09-10 06:59] anujgarg204 commented on #263
Although the test case is passing locally on my machine, coveralls is still failing.

Here's the code I wrote:
https://github.com/ollelauribostrom/rebus/blob/master/src/js/components/Word.js#L38

if (key === 'Backspace' || keyCode === 8) {
              const input = target.value;
              const prevChild = target.previousElementSibling;
              if (prevChild !== null && input === '') {

[2019-10-04 21:31] heatherbooker opened #295 "Railway man has wrong emoji/clues"
## Expected Behavior
A picture of tracks + men should should be "Railwaymen"
...

## Actual Behavior
A picture of tracks + men is "Railwayman"

https://github.com/ollelauribostrom/rebus/blob/a9ea66ff7fe2cb39b29f2e8ee5c134aeb30ded56/src/js/rebuses.js#L703

[2019-10-06 09:25] k1dnyy commented on #259
Can I take up this issue? Sounds like a good way to learn/have fun with an interesting project!

[2019-10-07 05:55] mendzak commented on #233
Hi, I would like to contribute to this issue. Thank you for reply.

[2019-10-07 09:45] mendzak commented on #220
Hi guys, I´m interested, can I help?

[2019-10-07 15:26] anjoshigor commented on #260
I'll do it! 👍

[2019-10-11 14:35] dreamerchandra commented on #259
hey @dr0id007 I started to work on it...
Would like to know is there any design considerations in this?
<img width="491" alt="Screenshot 2019-10-11 at 8 05 36 PM" src="https://user-images.githubusercontent.com/17010408/66660171-59db3880-ec62-11e9-882b-6f4dcbe85377.png">
<img width="281" alt="Screenshot 2019-10-11 at 8 05 28 PM" src="https://user-images.githubusercontent.com/17010408/66660175-5c3d9

[2019-10-11 18:01] dr0id007 commented on #259
lgtm :raised_hands: , as long as it works it's good.!

[2019-10-13 10:00] afflato commented on #121
https://github.com/ollelauribostrom/rebus/pull/338

[2019-10-14 07:53] zainababubakar commented on #121
hi @ollelauribostrom, i want to add new rebuses and tried running the tests before making any changes but it failed, how do i handle this ?

[2019-10-16 03:51] lindakatcodes commented on #152
I would like to take a look at this - at least on my device (Samsung S5) there's lots to work on dealing with text responses and how things look & act while the keyboard is up. Will be sure to update with what I find!

[2019-10-22 20:07] PabloMD opened #375 "Add host to webpack.config.js to allow browse the app by IP on development machine"
## Expected Behavior
I would like to access the app on my local network by IP, e.x. by typing http://10.0.0.2:3000
I believe there is no easy way to open it on the phone to test it on local environment, see https://github.com/ollelauribostrom/rebus/issues/152#issuecomment-542500516

## Actual Behavior
Cannot access the app by IP http://10.0.0.2:3000

## Specifications
I have found that there is op

[2019-10-22 20:46] PabloMD commented on #152
@lindakatcodes you need to specify the host in config, please see #375. Then you can enter your IP in browser e.x. http://10.0.0.2:3000
Please note:
- you need to provide your laptop IP instead of 10.0.0.2
-  you need the phone to be connected to the same network, so if you have connected your laptop to your home/office network the phone need to be connected to that as well. If you will use your G

[2019-10-23 11:14] danielogen opened #380 "Accidentally deleted a word in one of the rebus line 863"
## Expected Behavior
Gift emoji + Card emoji equals to **Gift Card**

## Actual Behavior
Gift emoji + Card emoji equals to ** Card**
![Screenshot 2019-10-23 at 14 12 42](https://user-images.githubusercontent.com/15224992/67387290-45226d00-f59f-11e9-9b60-fef037c1578e.png)

[2019-10-24 03:57] lindakatcodes commented on #152
@PabloMD Thanks! I swear I tried that the other day and was getting nowhere, but trying it tonight I got a different IP address from my laptop, and now it's working. :) Helps a lot for something like this!

[2019-10-25 03:54] sans-clue commented on #96
Is replacing emojis with icon sets (like font awesome) out of the question?

[2019-10-27 01:12] adzkar opened #393 "Translation Readme into several languange"
I think it's cool to support multiple languages so many countries doesn't know English well. I can help to translate indonesian

[2019-10-28 14:50] dev-313 commented on #121
Does this still need to be worked on? If so I'd like to take it.

[2019-10-28 15:15] dev-313 commented on #121
@ollelauribostrom i have a confusion, how to add these emojis in array direct?

[2019-10-31 12:42] mokhancodes commented on #180
Can i apply changes?

[2020-01-13 22:30] dev-oswld opened #436 "Translation README"
I want to help translate the _**README**_ and the others files into **_Spanish_**. :earth_americas:

[2020-02-07 16:00] anasansari157 commented on #96
@sans-clue I don't think we can find icons for every emoji we want to use.

[2020-03-01 02:21] mand0ng commented on #180
hi i would like to contribute on this issue. i am a first timer.

[2020-05-05 20:20] aayush1204 commented on #180
Hi, i would like to contribute to this issue

[2020-06-05 18:32] rlgerman25 commented on #436
I can help with that.

[2020-07-30 15:59] jay1310 commented on #220
Hey, seems like this issue has not been resolved yet. Can I work on it?

[2020-07-30 16:01] jay1310 commented on #233
Hello, I am so interested to work on it. I have an easy and efficient solution for the problem. I'll be so happy to work on it.

[2020-07-30 16:04] jay1310 commented on #121
Hey, I will be so happy to add new rebuses. I am working on it and will try to do it as early as possible.

[2020-08-07 20:52] lax0248917 commented on #180
Would love to contribute to this project but there are 259 PRs pending. @ollelauribostrom Do you need help going through these?

[2020-08-07 20:53] lax0248917 commented on #121
Would love to contribute to this project but there are 259 PRs pending. @ollelauribostrom Do you need help going through these?

[2020-08-26 15:27] Kerveyfelix commented on #180
I would like to contribute to this project. I am starting to contribute to open-source projects.  @ollelauribostrom  Can I add a hint in this game?

[2020-10-01 07:00] vinayak41 commented on #180
All rebuses have hints.

[2020-10-01 10:38] vinayak41 commented on #121
When I run the following command
npm run test: all
it shows the following error
 Expected linebreaks to be 'LF' but found 'CRLF'  linebreak-style

[2020-10-01 10:54] anuva04 opened #537 "Adding a difficulty tag."
## Expected Behavior

The rebuses should get progressively tougher as one keeps solving them (that is what a gamer would expect).

## Actual Behavior

The difficulty of successive rebuses is quite random.

## Steps to Reproduce the Problem

1. Add a new parameter "difficulty" as a number (maybe from 1-5) in each object of the rebuses.js array.
2. Sort the objects according to their difficulty and

[2020-10-02 16:05] martinh-dev commented on #537
Hey @anuva04, i would like to work on that issue. Please assign it to me. Thanks.

[2020-10-08 21:38] M-O-H commented on #380
I can fix it, assigned it ot me

[2020-10-09 04:59] SleepyLagrange opened #561 "Jump to an earlier rebus"
## Expected Behavior

Jump to a specific (presumably unanswered) rebus by clicking on the corresponding spot on the progress bar

## Actual Behavior

Have to navigate by pressing back button several time.

(Newbie here 👋 ! Any pointers appreciated)

[2020-10-19 11:27] joshnho commented on #121
i would like to contribute too

[2020-11-14 04:21] dominguetigs opened #580 "Conversion to Typescript"
## Expected Behavior

Conversion to typescript would help to maintain the code.

## Actual Behavior

The code is currently in javascript

[2020-11-18 08:28] robinlackey10 commented on #49
[Enhancement_ Added Video and Logo.zip](https://github.com/ollelauribostrom/rebus/files/5558711/Enhancement_.Added.Video.and.Logo.zip)

Hi, reason for posting and uploading a file here is because im not Github friendly yet, still in the learning process of pull, push etc.
Basically in this file is a redesigned logo and a short into "how it works" example that can be used and implemented.

[2021-01-18 16:19] shyam640 opened #601 "Add Logo as Reset game"
## Add a link to logo image to reset the game

## Add

`<a href="indix.html ><img src=...................></a>`

[2021-02-10 03:51] rafael9martins commented on #601
I want contribute with this.

[2021-02-12 16:16] shyam640 commented on #601
##Hey ! their,
Add a line of code at the location `src/js/app.js`
at line number 36

` Logo({onclick: ()=>actions.reset()}),`

I think that would be working

[2021-03-01 02:39] JJ-Hall commented on #380
@danielogen Issue already completed

[2021-03-04 00:01] Dfluke opened #615 "Clue clarification for 'Catastrophe'"
## Expected Behavior

... Clue should indicate to the user that the 'y' in 'trophy' needs dropped to solve the rebus (Catastrophe). It would perhaps be more in family with other puzzles, if the format was changed to '🐱', '+', 'as', '+', '🏆', '-', 'y', '+', 'e'

## Actual Behavior

... Current clue is '🐱', '+', 'as', '+', '🏆', 'y̶', '+', 'e' , however the 'y̶' character does not give a clear intent

[2021-03-26 11:00] elaamokhtari opened #622 "Create home page for the game and choosing a language to play with"
## Expected Behavior
when entering the rebus game a home page will welcome the user containing a logo, the name of the game and a nav bar at the top of the page where you can choose a language: English, French, Arabic, Spanish etc..
After choosing the language you will be directed to the game

## Actual Behavior

Right now when you enter the game you directly can start playing in one language whic

[2021-03-27 19:02] shrushti22 commented on #622
Can I work on this issue?

[2021-04-02 20:16] VladPetryshyn commented on #580
Hello! I can help with that!

[2021-04-05 10:35] bhargavsonagara commented on #622
i want to work on it plz guide me

[2021-04-05 17:14] RubikoDelta commented on #436
Can I help with this?

[2021-04-06 09:50] bhargavsonagara commented on #622
@shrushti22 can we work together in this issue ?????

[2021-04-15 17:41] #436 closed

[2021-05-07 18:34] ArJunGawali opened #641 "Move forward after guessing successfully"
## Expected Behavior

... We should move forward when we guess the previous one corretly or give hints and answer , so that we can find out the result

## Actual Behavior

... right now in it , we can go forward without successfully guessing ,so thats why it annoying when we can't solve it and also can't get the answer

[2021-05-20 12:57] bhagatpratham commented on #121
I would like to add a new rebus

[2021-05-26 06:57] Nitesh-Singh-5 commented on #121
I would like to add new rebus

[2021-06-04 08:55] Dema7 commented on #641
Hi, I'm new to this project and I would like to have a look into this particular issue. Few questions though:
- I've downloaded all files and launching the index file doesn't make the web app work.
- Code doesn't seam to be using vanilla javascript or jQuery library (ES6 version). Which kind of code/library is it? (sorry, I'm a newbie).
- If this is not the right place to ask these questions, wher

[2021-06-18 04:13] Lakshit-Chiranjiv commented on #121
May i add some ??

[2021-06-18 14:30] NylePudding commented on #641
Hello there @Dema7 :)

Launching the index file won't work, the application needs to be run in a web server with all the dev dependencies downloaded. But don't worry that will be simple to fix! However you will need to download and install Node.js/NPM first if you don't already have it. You can get them together as one installer here: https://nodejs.org/en/download/

If you take a look in the root

[2021-06-20 06:33] divincode commented on #641
Hi @ArJunGawali I will look into this issue .

[2021-06-20 07:36] ArJunGawali commented on #641
Okay

On Sun, 20 Jun 2021, 12:03 pm Vinay, ***@***.***> wrote:

[2021-06-21 09:23] NylePudding commented on #615
I would like to fix this please! I think your suggestion is good, but I also want to try something with the CSS to see if I can make it clear with the strikeout. :)

[2021-06-21 09:36] NylePudding commented on #641
I'm sorry this is a bit irrelevant, but I don't know where else to post, it looks like a lot of the pull requests aren't being merged. What could we do about that?

[2021-06-24 16:40] ghost commented on #561
Hello, I would like to work on this issue

[2021-07-01 07:28] jayantAhluwalia commented on #152
`fatal: remote upstream already exists.`
I can't follow the instructions in readme

[2021-07-02 21:07] Dfluke commented on #615
Feel free to tackle this issue, and good luck !

[2021-07-06 05:45] zfwang95 opened #670 "Add a filter that only show unfinished rebus questions."
## Expected Behavior
There is a filter button. When it was triggered, only show unfinished questions.
...

## Actual Behavior
There is no such a thing.
...

## Steps to Reproduce the Problem

1. Play the game normally, can not find anything with the wished function.

## Specifications

- Browser:Chrome

[2021-07-12 10:23] MichalKoder commented on #670
Sounds great to me.

[2021-07-13 09:44] MichalKoder commented on #260
Why isn't it implemented yet? I wanted to rise the same issue but as I see you don't solve it so there's no point doing that. Pressing space+tab isn't intuitive. Why don't you want to make rebus UX as good as possible?

[2021-07-13 09:55] MichalKoder opened #675 "Backspace should delete preceding letter straightaway"
## Expected Behavior
Backspace should delete preceding letter directly
...

## Actual Behavior
Backspace needs to be pressed twice in order to delete preceding letter
...

## Steps to Reproduce the Problem

1. Open any rebus
2. Type a letter
3. Press backspace

## Specifications

- Browser: Chrome, Edge

[2021-07-13 10:08] MichalKoder opened #676 "Rebus no 106 'Abominable': answer doesn't match the words"
## Expected Behavior
- There's a -b after the bomb picture
- Bull or bison picture should be 'ble'
(too many plain words/letters then and rebus should be reconsidered)

## Actual Behavior
The rebus solves as 'Abombinabull'

## Steps to Reproduce the Problem

1. Open rebus 106
2. Take a look

## Specifications

- Browser: All

[2021-07-16 20:14] developer-diganta commented on #675
Hello! I am a beginner to open source and I think I can solve this issue. Can I work on this?

[2021-07-16 21:51] MichalKoder commented on #675
Of course, but I'm not sure there's somebody active here to accept your pull request. I've been waiting for my rebus pull request approvement 4 days now. I'm new to open-source too but also learning git. I believe most of the times any feedback is better than no feedback that's why I'm commenting ;)

[2021-07-17 04:43] developer-diganta commented on #675
Guess I too can then make my pull request. Hopefully someone looks into these soon!

[2021-08-25 11:07] kajulsharma1999 commented on #121
I would like to add more to this rebus game.

[2021-09-14 17:43] danp2392 commented on #676
Hello,

I have put in a pull request to get this updated

Regards

[2021-09-16 10:40] JPMurara commented on #676
Hey guys, its my first time here in github. How can I ask questions if I need help?
I am trying to work on this issue but the bash terminal from vs code says 'npm: command not found'. So I cant run the game in my machine. Can someone help me? Cheers

[2021-09-16 11:31] JPMurara opened #700 "Install NPM"
Hello guys, not sure if here is the right place to ask questions. I am new to GitHub.
In the readme file, I cant move forward at the step 'npm install'. The git interface says it doesnt know the command.
Any suggestion on how to fix this issue, pls?
Cheers.

[2021-09-17 05:10] #700 closed, assigned to nobody

[2021-09-17 05:10] JPMurara commented on #700
ok all sorted.

[2021-09-27 19:37] Antonio-Riccelli commented on #393
Is anyone still maintaining this? I could translate into Italian.

[2021-10-04 08:58] hamzadev067 opened #707 "Add a button for toggling hints"
## Current Behavior
When the player writes the full word wrongly the hint gets shown
...

## What The Behavior Will Be
There will be a toggle hint button below the rebus when clicked it will show the hint (or hide it) and when writing the hint will disappear
...

[2021-10-05 12:54] adwaita-patil opened #710 "Showing right answer of Rebus"
## Expected Behavior
Adding a button to show the answer if one cannot guess the rebus after looking at the hint.
...

## Actual Behavior
Answers can't be seen. Only confetti is shown after the correct answer.
...

[2021-10-06 07:56] ishiprak commented on #263
Hi, Please kindly review and merge this pull request-
https://github.com/ollelauribostrom/rebus/pull/691

Thanks!

[2021-10-14 14:05] silverwavetidaldragon commented on #537
Yes, this would be so nice!  Also would work great with another one's progress bar one!

[2021-10-19 17:48] I-ArchanaDash commented on #121
I would Like to add new rebus

[2021-10-22 13:17] vels10 commented on #180
Can i contribute to this project for adding hint in this game?

[2021-12-01 21:22] mohamidi commented on #707
I can take this issue

[2021-12-01 21:23] mohamidi commented on #710
I can take this issue

[2021-12-01 22:43] mohamidi commented on #710
What frameworks are being used in this project?

[2021-12-02 20:29] mohamidi commented on #710
#737

[2021-12-14 19:23] viniciusks commented on #707
I made a hint button suggestion.
Open pull request: https://github.com/ollelauribostrom/rebus/pull/743

[2021-12-26 19:57] rjkawoya opened #745 "No sfx after getting rebus correct"
## Expected Behavior

You correctly solve a rebus and some sfx plays congratulating you for that.

## Actual Behavior

You correctly solve a rebus and there's no confirming sfx.
...

[2021-12-26 19:59] rjkawoya opened #746 "No auto toggle after correctly guessing answer"
## Expected Behavior

After you correctly guess rebus, it moves on the next one automatically.

## Actual Behavior

After you correctly guess rebus, you have to hit the right key to proceed to the next.

[2022-01-04 14:09] vonshirco commented on #601
Will be contributing soon

[2022-02-03 13:16] SimonPrato11 commented on #746
Can I take this issue?

[2022-03-06 17:14] bhattabhi013 opened #768 "Add Hint"
## Expected Behavior
A hint option should be added so the user doesn't stuck.
## Actual Behavior
Not available, new feature.

[2022-03-06 23:31] kalebakeits commented on #768
Hints are available however the actual way in which they appear could be improved. It isn't clear what causes hints to appear however for some words they do. I assume having a hint button could solve this

[2022-03-07 15:54] arnavk1872 commented on #180
I would like to contribute to this. I'm new to open source.

[2022-03-13 20:52] AshiraFriedman commented on #180
Can you give me something to contribute too?

[2022-03-24 00:41] wx-he commented on #746
Hi, I would like to work on this issue.

[2022-03-24 03:14] wx-he commented on #745
I would like to work on this.

[2022-03-24 03:25] wx-he commented on #670
i would like to take this task.

[2022-04-10 14:01] Baz125 commented on #121
Hi,

I'm trying to add a new rebus but I'm getting stuck.. can anybody help?

I think the issue is at Step 5 Install Dependencies. I've run command "npm install" and got the blow response.

Then when trying to run the game locally many more errors appear (whether I used the altered, or unaltered rebuses file)

 npm ERR! code ERESOLVE
npm ERR! ERESOLVE could not resolve
npm ERR!
npm ERR! While reso

[2022-05-30 18:17] GJS2162 commented on #180
@ollelauribostrom Hey I want to contribute to this issue. Assign me to this and share preferable resources.

[2022-05-30 18:22] GJS2162 commented on #768
@bhattabhi013 Hey I want to contribute to this issue. Assign me this and share preferable resources.

[2022-05-30 18:40] Prashant7451 commented on #768
@kalebakeits hey! let me take this opportunity to fix this problem.

[2022-06-18 16:59] Julie-S2020 opened #792 "npm install not working"
## Expected Behavior
install the project dependencies
...

## Actual Behavior
bash: npm: command not found

...

## Steps to Reproduce the Problem

1. Step 1.. Fork repo
2. Step 2..clone repo
3. Step 3..register the upstream repo
4. create branch
5. fetch upstream
6. install the dependencies

## Specifications

- Browser:

screen shot- https://1drv.ms/u/s!AiGI1YX78RnQo1U9sTSiC1fH0h3W?e=pf2wk7

[2022-06-21 00:06] Minozzzi commented on #768
Hello everyone! I opened the PR #794 with the changes

[2022-06-26 15:53] Rashad-98 commented on #746
Can I take this one?

[2022-06-26 16:09] Rashad-98 commented on #792
Hi there, you probably don't have npm installed on your machine or you need to add it to your machine's path. Checkout this link for more details: https://radixweb.com/blog/installing-npm-and-nodejs-on-windows-and-mac

[2022-07-07 16:27] Nahdus commented on #792
I am using node v16.15.1
Running npm install gives following error message

[code]

[2022-07-23 19:24] Sayan-Maity commented on #792
just see whether you are using latest Node.js or not and try again

[2022-08-03 07:11] 0einstein0 opened #803 "Deploy failing because of out of support Ubuntu Image. Need to update it"
## Actual Behavior

![image](https://user-images.githubusercontent.com/51617644/182546364-839cd432-8b8b-4e0c-9ec4-cf98d718ca2c.png)

## Steps to Reproduce the Problem

@ollelauribostrom  Whenever you make a pull request the deploy always fails and these are the details mentioned on netlify

[2022-08-04 05:29] Shameekh-Naveed commented on #803
@ollelauribostrom All pull requests are failed because the site uses an old build image for which support has ended. Update the build image pls

[2022-08-07 08:14] Hareesh108 opened #805 "In this Redbus top of the right corner having github repository their should be anchor tag indicating github repository."
## Expected Behavior

...

## Actual Behavior

...

## Steps to Reproduce the Problem

1. Step 1..
2. Step 2..
3. Step 3..

## Specifications

- Browser:

[2022-08-14 18:20] lubnafathima commented on #792
@Nahdus I hope the issue is resolved by now. if not:
 I got this error a while ago as well.
you might need to change a couple of docs on your PC for it
here is the link to soln:
https://stackoverflow.com/questions/72401421/message-npm-warn-config-global-global-local-are-deprecated-use-loc

[2022-10-01 09:55] deepanshu2810 commented on #121
@ollelauribostrom I would like to add new one .

[2022-10-01 12:09] I-ArchanaDash commented on #121
@ollelauribostrom I would like to a new rebus

[2022-10-01 12:19] Faro1991 commented on #180
If this is still relevant, I could give this a try as well :)

[2022-10-02 10:38] vedsom commented on #152
@ollelauribostrom can you assign me this task I can improve the Mobile UI under hactoberfest 2022.

[2022-10-02 14:54] RohanKGP commented on #121
@ollelauribostrom I would love to add and contribute to Rebus.

[2022-10-08 08:03] amitp138 opened #842 "Adding the user name who is playing the game"
## Expected Behavior
the user who is playing the game his/her name should be taken and showed above the game it makes it a lot more attractive
...

## Actual Behavior
it does not show the  name of the user
...

## Steps to Reproduce the Problem

1. Step 1..
2. Step 2..
3. Step 3..

## Specifications

- Browser:

[2022-10-08 18:56] tusharrajpoot commented on #842
hello, can i work on it?

[2022-10-08 19:00] tusharrajpoot commented on #49
@ollelauribostrom can you assign this to me?

[2022-10-09 07:49] amitp138 commented on #842
actually i wanted to work upon this can you please see other issues pls

[2022-10-17 21:55] ertlell commented on #180
I would also love to contribute if it's still relevant!

[2022-10-18 14:48] #768 closed, assigned to nobody

[2022-10-26 20:03] mamadou-niakate commented on #622
Can you please assign me this issue ? I am working on it.

[2022-10-27 04:05] Subhajit098 opened #855 "Updating the README.md"
## Expected Behavior
The only thing that is required to get started is git. Make sure you have **git** installed on your computer by running git --version in your terminal. If you do not have git installed, [install it](https://help.github.com/articles/set-up-git/).
...

## Actual Behavior
The only thing that is required to get started is git. Make sure you have **it** installed on your computer b

[2022-11-02 16:17] itsemon245 commented on #855
I don't think that's a typo

[2022-11-27 18:35] Vitahabtc2 opened #867 "Reproduce the Problem"
## Expected Behavior

...

## Actual Behavior

...

## Steps to Reproduce the Problem

1. Step 1..
2. Step 2..
3. Step 3..

## Specifications

- Browser:

[2022-11-27 18:37] Vitahabtc2 opened #869 "Title"
## Expected Behavior

...

## Actual Behavior

...

## Steps to Reproduce the Problem

1. Step 1..
2. Step 2..
3. Step 3..

## Specifications

- Browser: